<!-- Include Header Partial -->
<%- include("partials/header") %>

<h1>This is the Campgrounds Page!</h1>
<!-- <%= campgrounds %> Check to see all working: [object Object],[object Object],[object Object] -->
<!-- Loop through Campgrounds using forEach -->
<% campgrounds.forEach(function(campground) { %>
<div>
    <h4><%= campground.name %></h4>
    <img src="<%= campground.image %>">
</div>
<% }); %>

<!-- Include Footer Partial -->
<%- include("partials/footer") %>